<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
    <link rel="stylesheet" href="/public/stylesheet/style.css"/>
    <link rel="stylesheet"  href="../../public/css/bootstrap.min.css"/>
    <script src="../../public/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../public/stylesheet/stars.css"/>
    <script src="https://apis.mappls.com/advancedmaps/api/<%=process.env.mapplesmapapikey%>/map_sdk?layer=vector&v=3.0&callback=initMap1" defer async></script>
</head>

<body style="margin: 0px; padding: 0px; margin: 0px;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12" >
        <div class="container-fluid">
          <a class="navbar-brand" href="">YelpCamp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/campgrounds">Campgrounds</a>
              <a class="nav-link" href="/campgrounds/new">New Campground</a>
              <% if(!currentUser) { %>
              <a class="nav-link" href="/campgrounds/register">Register</a>
              <a class="nav-link" href="/campgrounds/login">Login</a>
              <% } else if(currentUser) {%>
              <a class="nav-link" href="/campgrounds/logout">Logout</a>
              <% } %>
            </div>
          </div>
        </div>
      </nav>
      <% if (success.length) { %>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong><%= success %></strong>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } else if(error.length) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%= error %></strong>  
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
