<%- include('../partials/header.ejs'); %>

<div style="display:flex; width: fit-content; height: 70vh;">
    <img src="/campgroundimages/2img-404.jpg" style="display:flex;  width: 100%;"/>
</div>

<%- include('../partials/footer.ejs'); %>